<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.astri.spitfire">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="android.support.VERSION"
            android:value="(25.4.0)"
            tools:replace="android:value" />

        <activity android:name=".RegisterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".ReadinessReadingActivity" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".ReadinessDetailActivity" />
        <activity android:name=".ResetEmailSentActivity" />
        <activity android:name=".HistoryActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".Activities" />
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".LanguagesActivity" />
        <activity android:name=".NewActivity" />
        <activity android:name=".ActivityDetail" />
        <activity android:name=".MeActivity" />
        <activity android:name=".ConnectedDeviceActivity" />
        <activity android:name=".ScanDeviceStartedActivity" />
        <activity android:name=".GodActivity" />
        <activity android:name=".ble.activity.BLEMainActivity" />
        <activity android:name=".ble.activity.DeviceScanActivity" />
        <activity android:name=".ble.activity.DeviceDetailActivity" />
        <activity android:name=".ble.activity.DeviceControlActivity" />
        <activity android:name=".ble.activity.DeviceScanActivityStart" />
        <activity
            android:name=".HeartRate"
            android:label="@string/title_activity_heart_rate"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>